/* 1. Remove browser margins and default scrollbars */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #111; /* Fallback color */
}

/* 2. Force the canvas to look full screen layout-wise */
canvas {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: crosshair;
    z-index: 0;
    /* border: 1px solid white; */
}

canvas:active {
    cursor: grabbing;
}

#searchBar {
    top: 5px;
    left: 5px;
    position: fixed;
    z-index: 1;
}

#zoom {
    bottom: 5px;
    left: 5px;
    position: fixed;
    z-index: 6;
    color: white;
    /* border: 1px solid white; */
}

#pos {
    bottom: 5px;
    right: 5px;
    position: fixed;
    z-index: 1000;
    color: white;
}